ul {
  list-style: disc;
}

.splitview {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  font-family: var(--codeFontFamily);
  gap: 10px;
}

@media only screen and (max-width: 992px) {
  .splitview {
    flex-direction: column;
    row-gap: 30px;
  }
}

.splitview > .plainJSON {
  border-radius: 5px;
}

.splitview > div {
  flex: 1 1 0px;
}
