html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  overflow-y: scroll;
  --themeColor: #0f6cbd;
  --codeFontFamily: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: var(--codeFontFamily);
}

.codeStyle {
  font-family: var(--codeFontFamily);
}

.contentDIV {
  padding-top: 15px;
  flex: 1;
}

.outerDIV {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
