header {
    background-color: #0067b8;
    min-height: 56px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;

    p {
        margin-left: 30px;
        line-height: 50px;
        font-size: 30px;
        color: black;
        font-weight: 600;
    }
}

header:hover {
    cursor: pointer;
    text-decoration: none;
}