header {
  background-color: var(--themeColor);
  min-height: 56px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;

  span {
    margin-left: 30px;
    line-height: 50px;
    font-size: 30px;
    color: white;
    font-weight: 200;
  }
}

header:hover {
  cursor: pointer;
  text-decoration: none;
}
