footer {
  width: 100%;
  background-color: black;
  margin-top: 20px;
  font-weight: 600;
}

a {
  color: var(--themeColor);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 5px;
}
