name: Build Docker Image

on:
  push:
    branches: 
      - '*'
      - '!main'
  pull_request:
    branches: [ '*' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Build Docker image
      run: |
        cd kratos-admin-ui
        docker build .